body{
    background: radial-gradient(circle at 50% 50%, #000000 0%, transparent 25%),
                radial-gradient(circle at 50% 50%, #402976 25%, transparent 50%),
                radial-gradient(circle at 50% 50%, #c5aa1f 35%, transparent 65%),
                radial-gradient(circle at 50% 50%, #402976 65%, transparent 100%),
                radial-gradient(circle at 50% 50%, #000000 100%, transparent 125%);
    background-size:  400% 400%;
    animation: spiral 30s infinite linear;
}

@keyframes spiral {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.swg-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.swg-lettering{
    text-decoration: underline;
    animation: blink 4s linear infinite;
}

.swg-checks{
    transform:scale(2);
}

.swg-input-size{
    font-size: 25px;
    font-weight: bold;
}

.swg-input-format{
    width: 50%;
}

.swg-text-format{
    width: 30%;
}

.swg-text-color{
    color: #c5aa1f;
    font-weight: bold;
    font-size: 25px;
    text-shadow: 1px 0px 4px black;
}
.swg-anchor-hover:hover{
    cursor: default;
}

.swg-logo:hover{
    cursor: pointer;
}

.swg-text-danger{
    background: red;
    color: white;
    font-weight: bold;
    margin-bottom: 1px;
    font-size: 25px;
    animation: blink 2s linear infinite;
}

@keyframes blink {
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

.swg-danger-box{
    border: 5px solid red;
}

.swg-head-color{
    color: white;
    text-shadow: 1px 5px 4px #402976;
    font-weight: bold;
}

.swg-head-size{
    font-size: 60px;
}

.swg-btn-color{
    background: #c5aa1f;
    color: black;
    font-weight: bold;
    font-size: 20px;
    box-shadow: -2px -2px 4px black ;
    transition: all 0.5s ease-in-out;
}

.swg-danger-btn{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
}

.swg-btn-color:hover{
    background: black;
    color: #c5aa1f;
    box-shadow: -1px -1px 4px white;
}

.swg-bg-nav{
    background: linear-gradient(to right, black, #402976, #c5aa1f, #402976, black);
}

.swg-nav-text{
    color: white;
    font-size: 150%;
    transition: all 0.3s ease-in-out;
}

.swg-nav-text:hover{
    color: #c5aa1f
}

.swg-ul-text{
    margin:auto;
}

.swg-btn-bg{
    background: #c5aa1f;
}

.swg-logo{
    width: 10%;
    height:10%;
}
.swg-draken-img{
    width: 35%;
    height: 10%;
    box-shadow: 5px 5px 20px black;
}

.swg-custom-width{
    width: 80%;
}