body{
    background: radial-gradient(circle at 50% 50%, #000000 0%, transparent 33%),
                radial-gradient(circle at 50% 50%, #402976 33%, transparent 66%),
                radial-gradient(circle at 50% 50%, #c5aa1f 66%, transparent 100%),
                radial-gradient(circle at 50% 50%, #402976 60%, transparent 80%),
                radial-gradient(circle at 50% 50%, #000000 80%, transparent 100%);
    background-size:  350% 350%;
    animation: spiral 30s infinite linear;
}

@keyframes spiral {
    0%{
        background-position: 0% 50%;
    }
    25%{
        background-position: 50% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    75%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.swg-text-color{
    color: #c5aa1f;
    font-weight: bold;
    text-shadow: 1px 0px 4px black;
}
.swg-anchor-hover:hover{
    cursor: default;
}

.swg-logo:hover{
    cursor: pointer;
}

.swg-text-danger{
    text-shadow: 1px 0px 4px black;
    font-weight: bold;
}

.swg-head-color{
    color: #402976;
    text-shadow: 1px 0px 4px white;
}

.swg-btn-color{
    background: #c5aa1f;
    color: black;
}

.swg-btn-color:hover{
    background: black;
    color: #c5aa1f;
}

.swg-bg-nav{
    background: linear-gradient(to right, black, #402976, #c5aa1f, #402976, black);
}

.swg-nav-text{
    color: white;
    font-size: 150%;
}

.swg-nav-text:hover{
    color: #c5aa1f
}

.swg-ul-text{
    margin:auto;
}

.swg-btn-bg{
    background: #c5aa1f;
}

.swg-logo{
    width: 10%;
    height:10%;
}
.swg-draken-img{
    width: 50%;
    height: 10%;
    box-shadow: 5px 5px 20px black;
}